@keyframes dice-tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.App {
  text-align: center;
  justify-content: center;
  display: grid;
  background-color: whitesmoke;
}
.main {
  width: 350px;
  height: 500px;
  margin-top: 20px;
}
.dices {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.dice-normal {
  width: 140px;
  height: 140px;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 40px;
}
.dice-animate {
  width: 140px;
  height: 140px;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 40px;
  animation-duration: 0.2s;
  animation-name: dice-tilt-shaking;
  animation-iteration-count: 20;
}

button {
  width: 150px;
  height: 150px;
  background-color: dodgerblue;
  font-weight: bold;
  font-size: 30px;
  color: white;
  border: none;
  border-radius: 50%;
}
button:hover {
  cursor: pointer;
  background-color: rgba(30, 143, 255, 0.703);
}
